  header {
    height: auto;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: darkblue;
    font-size: 35px;
    color: white;
    text-align: center;
  }

  #dateTime{
    text-align: left;
    font-size: 12px;
    position: fixed;
    left: 0px;
    top: 0px;
  }

  .cart{
    position: fixed;
    width: 40px;
    height: 25px;
    top: 15px;
    right: 15px;
    font-size: 10px;
  }

  #cartCount{
    font-size: 15px;
    position: absolute;
    right: 0px;
    top: 20px;
  }

  .navbar {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    background-color: lightblue;
    height: 46px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a:link {
    float: left;
    color: purple;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24.6px;
    padding-right:24.6px;
    font-size: 15px;
    text-decoration: none;
  }
  
  .navbar a:visited {
    color: black;
  }
  /* Change the color of links on hover */
  .navbar a:hover {
    color: purple;
    text-decoration: underline;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: darkblue;
    color: white;
    padding-bottom: 5px;
    font-style: italic;
  }

  #myinfo{
    margin: auto;
    position: fixed;
    width: fit-content;
    font-size: 10px;
    text-align: left;
    padding: 5px;
  }

  .sidebar{
    width: 25%;
    position: fixed;
    left: 0px;
    height: 80%;
    font-size: 25px;
    color: darkblue;
    font-weight: bold;
    margin-top: 95px;
    text-align: left;
    background-image: url("images/cart.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .textbox{
    margin: 38px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
    width: 300px;
    visibility: visible;
  }

  .loginpage{
    margin-top: 52px;
    margin-bottom: 0px;
    background-image: linear-gradient(beige,rgb(170, 170, 113));
    opacity: 0.8;
    position: fixed;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 90%;
    font-size: 20px;
    text-align: center;
  }

  #frm{
    margin-left: 60px;
  }

  .main{
    width: 75%;
    position: fixed;
    right: 0px;
    height: 80%;
    font-size: 22px;
    padding-right: 0px;
    margin-top: 95px;
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(196, 240, 196);
    /*background-image: linear-gradient(rgb(196, 240, 196),rgb(86, 174, 86));*/
    background-image: linear-gradient(beige,rgb(170, 170, 113));
    overflow-y: scroll;
  }

  .cartMain{
    width: 75%;
    position: fixed;
    right: 0px;
    height: 80%;
    font-size: 22px;
    padding-right: 0px;
    margin-top: 95px;
    margin-bottom: 0px;
    text-align: center;
    /*background-color: rgb(196, 240, 196);
    background-image: linear-gradient(rgb(196, 240, 196),rgb(86, 174, 86));*/
    background-image: linear-gradient(beige,rgb(170, 170, 113));
    overflow-y: scroll;
    align-items: center;
  }

  .show {
    display: block;
  }

  .procontainer {
    max-width: 1000px;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 50px;
  }

  .items_header {
    width: 100%;
    max-width: 2500px;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid grey; */
    /* margin: 0 auto; */
    text-align: left;
    font-size: 30px;
  }
  
  .tid {
    width: 5%;
    display: flex;
    /* padding-bottom: 4px; */
    text-align: left;
  }

  .item_Number {
    width: 5%;
    display: flex;
    /* padding-bottom: 4px; */
    text-align: left;
    /* border-bottom: 1px solid grey; */
  }
  
  .categoryfield {
    width: 20%;
    display: flex;
    /* padding-bottom: 4px; */
    text-align: left;
    /* border-bottom: 1px solid grey; */
  }
  
  .subcategory {
    width: 20%;
    display: flex;
    /* padding-bottom: 4px; */
    text-align: left;
    /* border-bottom: 1px solid grey; */
  }
  
  .item_name {
    width: 20%;
    display: flex;
    /* padding-bottom: 4px; */
    /* border-bottom: 1px solid grey; */
    text-align: left;
  }
  
  .price_of_item {
    width: 10%;
    display: flex;
    align-items: center;
    /* padding-bottom: 4px; */
    text-align: left;
    /* border-bottom: 1px solid grey; */
  }
  
  .quantity_of_products {
    width: 10%;
    display: flex;
    align-items: center;
    /* padding-bottom: 4px; */
    text-align: left;
    /* border-bottom: 1px solid grey; */
  }
  
  .total_price {
    width: 10%;
    display: flex;
    align-items: center;
    /* padding-bottom: 4px; */
    text-align: start;
    /* border-bottom: 1px solid grey; */
  }
  
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* font-size: 20px; */
  }

  .totalBasket {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
  }
  
  .totalTitle {
    width: 30%;
  }
  
  /* .totalBasketValue {
    width: 10%;
  } */

  .row:after {
    display: table;
    clear: both;
  }

  .content {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .columnleft {
    display: table-cell;
    background-color: cyan;
    text-align: center;
    vertical-align: top;
  }

  .columnright {
    display: table-cell;
    position: relative;
  }

  .label{
    right: 32px;
    width: 15%;
    position: fixed;
    background-color: white;
    margin-top: 105px;
    font-size: 15px;
    text-align: center;
  }

  .desc{
    width: 75%;
    position: fixed;
    right: 0px;
    height: 80%;
    font-size: 15px;
    margin-top: 95px;
    background-image: linear-gradient(beige,rgb(170, 170, 113));
    padding-right: 0px;
    text-align: left;
  }

  .desc_left{
    position: absolute;
    margin-left: 10px;
    width: 50%;
    left: 0px;
    top: 60px;
    text-align: justify;
  }

  .desc_right{
    position: absolute;
    width: 50%;
    left: 700px;
    top: 60px;
    text-align: justify;
  }

  .signup {
    position: absolute;
    width: 50%;
    left: 45%; 
    top: 60px;
    text-align: justify;
  }

  #signup_success {
    font-size: 20px;
    width: fit-content;
    align-items: center;
    top: 30px;
    text-align: center;
    margin-left: 650px;
    background-color: lightgrey;
  }

  input[type=text] {
    padding: 5px;
  }

  input[type=password] {
    padding: 5px;
  }

  input[type=submit] {
    background-color: #27d595;
    color: black;
  }

  #section{
    background-color: #3CBC8D;
    position: fixed;
    height: 200px;
    width: 1000px;
  }

  #logo{
    position: fixed;
    bottom: 0px;
    right: 0px;
  }

  .column {
    float:left;
    width: 25%;
  }

  .card{
    background-color: white;
    width: 180px;
    height: 220px;
    margin-bottom: 15px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    float: left;
    text-align: center;
  }

  .buttons{
    margin-top: -12px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding: 7px;
  }

  .count{
    cursor: pointer;
    padding: 5px;
  }


  .card-permanent{
    background-color: white;
    width: 180px;
    height: 220px;
    margin-bottom: 15px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    float: left;
    text-align: center;
  }  

  .card-cart{
    margin-left: 300px;
    width: 220px;
    height: 110px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding-top: 1px;
    margin-top: 10px;
    
  }

  .images{
    padding-top: 15px;
    width: 80px;
    height: 80px;
  }

  #cartheading{
    text-shadow: 1.7px 1.7px;
    margin-left: 450px;

  }

  table {
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    width: 100%;
    border-color: darkblue;
    border-style: solid;
  }

  th,td{
    border-width: 1px;
    border-color: darkblue;
    border-style: solid;
    border-collapse: collapse;
    height: 20px;
    text-align: center;
  }

  em{
    color: #d61fa2;
  }
  em.contactemail {
    display: inline;
  }

  .display {
    display: block;
  }
  
  .category {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .category:hover {
    color: #04AA6D;
  }

  .category:active{
    color: #d61fa2;
  }
  
  .searchbar{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 19px;
  }
  
 #questions {
    font-size: 18px;
}

#results {
    font-size: 15px;
}

#fileUpload {
  width: fit-content;
  text-align: left;
  font-size: 15px;
}

.adminHeadings{
  margin-left: 20px; 
  font-size: 18px;
  text-align: left;
}
